<h1>Modelos de produto</h1>

<%if @product_models.any?%>
  <% @product_models.each do |pm| %>
    <dl>
      <dt>
        <h2><%= link_to pm.name, pm%></h2>
      </dt>

      <dd>
        Fornecedor: <%= pm.supplier.brand_name%>
      </dd>
    </dl>
  <% end %>
<% else%>
  <p>Não possui modelos cadastrados</p>
<%end%>

<div>
  <%= link_to "Cadastrar novo modelo", new_product_model_path%>
</div>